body {
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
}

.Apartado {
    line-height: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    height: 20px;
    /* margin:  auto; */
}

#FirstData {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 10px;
    /* left: 20px; */
}

img {
    width: 200px;
    height: 200px;
    margin: 30px;
    position: relative;
}

#FirstData h2 {
    position: absolute;
    top: 5px;
    margin-left: 275px;
}

#FirstData li {
    margin: 10px;
}

#FirstData ul {
    margin-top: 50px;
}

.Data {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    position: relative;
    top: 10px;
}

.Data h3 {
    margin: 5px;
}

p {
    justify-items: justify;
    margin: 5px;
}